<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1><%= I18n.t('order_confirmation') %></h1>
  <p><%= I18n.t('thank_message') %></p>
  <p><%= I18n.t('with_email') %></p>
  <p><%= @user_email %></p>
</body>
</html>
